<%= search_form_for @search do |f|%>
  <div class="field">
    <%= f.text_field :name_cont, :placeholder =>"Artist Name", :id =>'search' %>
  </div>
  <div class="actions"><%= f.submit "Search", :id =>'search_but' %></div>
  <% end %>

