<div id="the-basics">
  <%= search_form_for @search do |f|%>
  <%= f.label :name_cont, "Artist name" %>
  <div class="typeahead">
    <%= f.text_field :name_cont, :class => "typeahead", :id => "search"%>
  </div>
  <div class="actions"><%= f.submit "Search", :id =>'search_but' %></div>
  <% end %>
</div>
