<h1>This is the index page for the project</h1>

<div>
  <%= render partial: 'searchform' %>
</div>

<div class="signin_button">
  <a href="#">LOGIN</a>
</div>

<div class="signin">
  <%= render partial: 'signin' %>
</div>

<div class="signup_button">
  <a href="#">SIGNUP</a>
</div>

<div class="signup">
  <%= render partial: 'signup' %>
</div>