<h1 id='title'>SHOW<h1 id='goer'>GOER</h1></h1>

<video autoplay loop poster="/assets/white.png" id="home_back">
	<source src="Showgoer.webm" type="video/webm">
		<source src="Showgoer.mp4" type="video/mp4">
		</video>

		<div id='menu'>
			<ul class="bounceInUp animated">
				<li class='line'>_____</li>
				<li class='line'>_____</li>
				<li class='line'>_____</li>
			</ul>
	<!-- <p class='line'>_____</p>
	<p class='line'>_____</p>
	<p class='line'>_____</p> -->
</div>

<div id='index_center'>
	<div>
		<%= render partial: 'searchform' %>
	</div>

	<div class="signin_button fadeInUp animated">
		<a href="#" class="fadeInUp animated" id='login_but'>LOGIN</a>
	</div>

	<div class="signin fadeIn animated">
		<%= render partial: 'signin' %>
	</div>

	<div class="signup_button fadeInUp animated">
		<a href="#" id='signup_but' class="fadeInUp animated">SIGNUP</a>
	</div>

	<div class="signup fadeIn animated">
		<%= render partial: 'signup' %>
	</div>
</div>


