/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 */



/*@-webkit-keyframes slideBorder {
	0% {border-bottom: 3px solid white}
	25% {border-bottom:3px solid white;border-left: 3px solid white}
	50% {border-bottom: 3px solid white;border-left: 3px solid white;border-top: 3px solid white}
	75% {border-bottom: 3px solid white;border-left: 3px solid white;border-top: 1px solid white;border-right: 1px solid white}
	100% {border:6pxpx solid white;}
}*/

@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}


#logo	{
  position: absolute;
  width: 4em;
  margin-top: -7em;
  margin-left: 40em;
  visibility: visible;
}
 .signin {
	display: none;
	visibility: visible;
}

.signup {
  display: none;
  /*background-color: rgba(0, 0, 0, 0.4);
  height: 20em;*/
  visibility: visible;
}



#title {
	color: white;
	text-align: center;
	margin-top: 1.3em;
	font-family: "Helvetica Neue",helvetica,arial,sans-serif;;
	font-weight: bold;
	margin-right: 2em;
	font-size: 6em;
	visibility: visible;
}

#goer {
	font-family: 'Oleo Script', cursive;	color: white;
	text-align: center;
	margin-top: -2em;
	font-weight: bold;
	margin-left: 3.7em;
	font-size: 6em;
	visibility: visible;
}

#search {
	width: 31em;
	height: 2.4em;
	font-family: 'Ubuntu', sans-serif;
	background-color: rgba(0, 0, 0, 0.05);
	border-left: transparent;
	border-right: transparent;
	border-top: transparent;
	border-bottom-color: white;
	color: white;
	visibility: visible;
}

.input {
	background-color: transparent;
  color: white;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
	font-size: 1em;
	width: 22em;
}

#menu {
  margin-left: 74em;
  position: absolute;
  margin-top: -19em;
  visibility: visible;
}

ul {
	list-style-type: none; 
}

ul:hover {
	margin: lem 0;
}

.line {
	color: white;
	height: .3em;
	margin-top: .4em;
	text-decoration: none;
	transition-duration: .3s;
	-webkit-transform:scale(1,2); 
}

/*.line:hover {
	margin-top: -.4em;
}*/

#search_but {
	font-family: 'Ubuntu', sans-serif;
	width: 6em;
	height: 2.5em;
	margin-top: 1em;
	background-color: rgba(0, 0, 0, 0.1);
	border-color: white;
	border-style: solid;
	color: white;
	margin-left: 16.3em;
	margin-top: -2.4em;
	position: absolute;
	visibility: visible;
}

#search_state {
	color: white;
	font-family: 'Ubuntu', sans-serif;
}

#sign_mit {
	font-family: 'Ubuntu', sans-serif;
	width: 6em;
	height: 2.5em;
	margin-top: 1em;
	background-color: rgba(0, 0, 0, 0.1);
	border-color: transparent;
	border-style: solid;
	color: white;
	margin-left: -3em;
	position: absolute;
	transition-duration: .5s;
	font-size: 1em;
}

#sign_mit2 {
	font-family: 'Ubuntu', sans-serif;
	width: 8em;
	height: 2.5em;
	margin-top: 1em;
	background-color: rgba(0, 0, 0, 0.1);
	border-color: transparent;
	border-style: solid;
	color: white;
	margin-left: -3.8em;
	position: absolute;
	transition-duration: .5s;
	font-size: 1em;
}

#sign_mit:hover, #sign_mit2:hover {
	border-color: white;
}



::-webkit-input-placeholder {
   color: white !important;
   opacity: 1 !important;
}


#index_center {
	text-align: center;
}

#home_back {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: url(white.png) no-repeat;
    background-size: cover;
}

#login_but {
	font-size: 1.4em;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	text-decoration: none !important;
	transition-duration: .3s;
	padding: .5em;
	margin-left: -6em;
	margin-top: 1em;
	position: absolute;
	border-style: solid;
	border-color: transparent;
	visibility: visible;
}

#login_but:hover, #signup_but:hover {
	border-style: solid;
	border-color: white;


	/*-webkit-animation:slideBorder 3s linear .3s 1 ;
	*/animation: slideBorder 3s linear .3s 1;
}

#signup_but {
	font-size: 1.4em;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	text-decoration: none !important;
	transition-duration: .3s;
	padding: .5em;
	margin-left: 3em;
	margin-top: 1em;
	position: absolute;
	border-style: solid;
	visibility: visible;
	border-color: transparent;
}

#ex1, #ex2 {
	color: white;
	font-family: 'Ubuntu', sans-serif;
	position: absolute;
	margin-left: 21.4em;
	margin-top: -6em;
	border-color: rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	border-style: solid;
	transition-duration: .3s;
	padding-left: .3em;
	padding-right: .3em;
	padding-top: .05em;
	padding-bottom: .05em;
}

#ex1:hover, #ex2:hover {
	-webkit-animation-name: spinnerRotate;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spinnerRotate;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spinnerRotate;
	-ms-animation-duration: 1s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	border-color: white;
	border-style: solid;
	border-radius: 50%;
	padding-left: .3em;
	padding-right: .3em;
	padding-top: .05em;
	padding-bottom: .05em;
}



#login_form, #signup {
/*	margin-left: 30em;
	margin-top: 4em;
	position: absolute;*/
	margin-left: -8em;
	margin-top: -32em;
	position: absolute;
	background-size: contain;
	padding-left: 48%;
	padding-right: 44%;
	padding-top: 30%;
	padding-bottom: 32%;
	background-color: rgba(0, 0, 0, 0.9);
	transition-duration: 2s;
}


.mini_title {
	font-family: 'Ubuntu', sans-serif;
	color: white;
	margin-bottom: 1em;
}

.signup_button, .signin_button {
	visibility: hidden;

}

.icon {
	-webkit-filter: invert(100%);
    filter: invert(100%);
}

#email_icon {
	height: 2em;
	width: 2.4em;
	float: left;
	position: absolute;
	margin-left: -3em;
}
#password_icon {
	height: 2.4em;
	width: 2.4em;
	float: left;
	position: absolute;
	margin-left: -3.1em;
	margin-top: -.3em;
}


#pass_check_icon {
	height: 2.4em;
	width: 2.4em;
	float: left;
	position: absolute;
	margin-left: -3.1em;
	margin-top: -.3em;	
}

#user_icon {
	height: 2.1em;
	width: 2.1em;
	float: left;
	position: absolute;
	margin-left: -3.1em;
	margin-top: -.3em;	
}

/*********USER SHOW**************/

#user_show {
	background-color: rgba(0, 0, 0, 0.9);
	width: 72em;
	height: 44em;
	margin-top: -8em;
	position: absolute;
	margin-left: 82em;
	transition-duration: 2s;

}

#ex3 {
	color: white;
	font-family: 'Ubuntu', sans-serif;
	position: absolute;
	margin-left: 33.4em;
	border-color: rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	border-style: solid;
	transition-duration: .3s;
	padding-left: .3em;
	padding-right: .3em;
	padding-top: .05em;
	padding-bottom: .05em;
}

#ex3:hover {
	-webkit-animation-name: spinnerRotate;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spinnerRotate;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spinnerRotate;
	-ms-animation-duration: 1s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	border-color: white;
	border-style: solid;
	border-radius: 50%;
	padding-left: .3em;
	padding-right: .3em;
	padding-top: .05em;
	padding-bottom: .05em;
}

/****************ALL SHOWS****************/

#past_sect {
	float: left;
	width: 70%;
	margin-left: 6em;
}

#past {
	margin-left: 5em;
}

#upcoming {
	float: right;
}

.spread {
	background-color: black;
	height: 15em;
	width: 15em;
	margin-top: 1em;
	margin-left: 1em;
	display: inline-block;
}

.one_vid {
	background-color: black;
	height: 25em;
	width: 40em;
	margin-top: 1em;
	margin-left: 1em;
	display: inline-block;

}

#straight {
	height: 5em;
	width: 5em;
	background-color: red;
	float: right;
}

#many {
	height: 5em;
	width: 5em;
	background-color: blue;
	border-radius: 100%;
	float: right;
}

#a_name {
	color: gray;
}







