/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 */


 
/*@-webkit-keyframes slideBorder {
  0% {border-bottom: 3px solid white}
  25% {border-bottom:3px solid white;border-left: 3px solid white}
  50% {border-bottom: 3px solid white;border-left: 3px solid white;border-top: 3px solid white}
  75% {border-bottom: 3px solid white;border-left: 3px solid white;border-top: 1px solid white;border-right: 1px solid white}
  100% {border:6pxpx solid white;}
}*/

@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}

@-webkit-keyframes move {
    0%   {margin-top: -3.2em;}
    10%  {margin-top: -3.25em;}
    20%  {margin-top: -3.3em}
    30% {margin-top: -3.35em;}
    40%   {margin-top: -3.4em;}
    50%  {margin-top: -3.45em;}
    60%  {margin-top: -3.4em}
    70% {margin-top: -3.35em;}
    80%  {margin-top: -3.3em}
    90% {margin-top: -3.25em;}
    100% {margin-top: -3.2em;}
}

@-webkit-keyframes move3 {
    0%   {margin-top: -4.4em;}
    10%  {margin-top: -4.45em;}
    20%  {margin-top: -4.5em}
    30% {margin-top: -4.55em;}
    40%   {margin-top: -4.6em;}
    50%  {margin-top: -4.65em;}
    60%  {margin-top: -4.6em}
    70% {margin-top: -4.55em;}
    80%  {margin-top: -4.5em}
    90% {margin-top: -4.45em;}
    100% {margin-top: -4.4em;}
}

@-webkit-keyframes move2 {
    0%   {margin-top: -3.7em;}
    10%  {margin-top: -3.75em;}
    20%  {margin-top: -3.8em}
    30% {margin-top: -3.85em;}
    40%   {margin-top: -3.9em;}
    50%  {margin-top: -3.95em;}
    60%  {margin-top: -3.9em}
    70% {margin-top: -3.85em;}
    80%  {margin-top: -3.8em}
    90% {margin-top: -3.75em;}
    100% {margin-top: -3.7em;}
}

html {
	max-width: 1300px;
	margin: 0 auto;
	background: #eee;
	position: relative;
}

#split_logo {
	margin-left: 2em;
	margin-bottom: -7em;
}

#logo	{
	position: absolute;
	width: 4em;
	margin-top: -6em;
	margin-left: 0em;
	visibility: visible;
}

.pillars {
	margin-top: 4.6em;
	margin-right: -.05em;
	position: absolute;
}


#camera {
	width: 2.6em;
  height: 2.6em;
  margin-top: -2em;
  position: absolute;
}

#pillar1 {
	height: 1em;
	margin-top: -3.2em;
	-webkit-animation: move .9s  infinite;
	transition-duration: 1s;
}

#pillar2 {
	height: 1.5em;
	margin-left: .6em;
	margin-top: -3.7em;	
	-webkit-animation: move2 .7s .5s  infinite;
	transition-duration: 1s;
}

#pillar3 {
	height: 2.2em;
	margin-left: 1.1em;
	margin-top: -4.4em;	
	-webkit-animation: move3 .8s .7s  infinite;
	transition-duration: 1s;
}

#pillar2_2 {
	height: 1.5em;
	margin-left: 1.65em;
	margin-top: -3.7em;	
	-webkit-animation: move2 .9s .9s  infinite;
	transition-duration: 1s;
}

#pillar1_1 {
	height: 1em;
	margin-left: 2.25em;
	margin-top: -3.2em;	
	-webkit-animation: move 1s 1.1s infinite;
	transition-duration: 1s;
}


 .signin {
  display: none;
}

.signup {
  display: none;
  /*background-color: rgba(0, 0, 0, 0.4);
  height: 20em;*/
  visibility: visible;
}



#title {
	color: white;
	text-align: center;
	margin-top: 1.3em;
	font-family: 'Fascinate Inline', cursive;
	font-weight: bold;
	margin-right: 2em;
	font-size: 6em;
	visibility: visible;
}

#goer {
	font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
	color: white;
	text-align: center;
	margin-top: -2.1em;
	font-weight: bold;
	margin-left: 4.7em;
	font-size: 4.5em;
	margin-bottom: 1em;
  animation-delay: 10s;

}

.fadeInDown {
  animation-delay: 10s;
	
}

#search {
  width: 31em;
  height: 2.4em;
  font-family: 'Raleway', sans-serif;
  background-color: rgba(0, 0, 0, 0.05);
  border-left: transparent;
  border-right: transparent;
  border-top: transparent;
  border-bottom-color: white;
  color: white;
  font-weight: bold;
}

.input {
  background-color: transparent;
  color: white;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
	font-size: 1em;
	width: 22em;
	font-weight: bold;
}

#menu {
	margin-left: 70em;
	position: absolute;
	margin-top: .5em;
	visibility: visible;
	margin-right: 0em;
}

ul {
  list-style-type: none; 
}

ul:hover {
  margin: lem 0;
}

.line {
	color: white;
	height: .3em;
	margin-top: .4em;
	text-decoration: none;
	transition-duration: .3s;
	margin-left: 4em;
}


#search_but {
  font-family: 'Raleway', sans-serif;
  width: 6em;
  height: 2.5em;
  margin-top: 1em;
  background-color: rgba(0, 0, 0, 0.1);
  border-color: white;
  border-style: solid;
  color: white;
  margin-left: 16.3em;
  margin-top: -2.4em;
  position: absolute;
  transition-duration: .7s;
}

#search_but:hover {
	color: black;
	background-color: white;
} 

#search_state {
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	margin-top: -2em;
	position: absolute;
	margin-left: -3em;
}

.tt-suggestion {
	background-color: rgba(255, 255, 255, 0.77);
	font-family: 'Raleway', sans-serif;
	margin-top: -1em;
	color: black;
}

.tt-suggestions {
	min-width: 100%;
	margin-top: 1em;
}

.tt-highlight {
	color: red;
}

.tt-hint {
	background-color: white;
	color: red;
	text-decoration: none !important;
}

.twitter-typehead {
	text-decoration: none !important;
}

.tt-dropdown-menu {
	min-width: 100%
}



#sign_mit {
	font-family: 'Raleway', sans-serif;
	width: 6em;
	height: 2.5em;
	margin-top: 1em;
	background-color: rgba(0, 0, 0, 0.1);
	border-color: transparent;
	border-style: solid;
	color: white;
	margin-left: -3em;
	position: absolute;
	transition-duration: .5s;
	font-size: 1em;
}

#sign_mit2 {
	font-family: 'Raleway', sans-serif;
	width: 8em;
	height: 2.5em;
	margin-top: 1em;
	background-color: rgba(0, 0, 0, 0.1);
	border-color: transparent;
	border-style: solid;
	color: white;
	margin-left: -3.8em;
	position: absolute;
	transition-duration: .5s;
	font-size: 1em;
}

#sign_mit:hover, #sign_mit2:hover {
  border-color: white;
}



::-webkit-input-placeholder {
   color: white !important;
   opacity: 1 !important;
}


#index_center {
  text-align: center;
  position: absolute;
  width: 100%;
  margin-top: 12em;
}

/*#index_center {
	text-align: center;
  position: absolute;
  width: 68%;
  margin-top: 5em;
  background: rgba(0, 0, 0, 0.67);
  margin-left: 10em;
  padding-right: 5em;
  padding-top: 6em;
  margin-bottom: 4em;
  box-shadow: 10px 10px 5px #100F0F;
}
*/
#home_back {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: url(white.png) no-repeat;
    background-size: cover;
}

#login_but {
  font-size: 1.4em;
  font-family: 'Raleway', sans-serif;
  color: white;
  text-decoration: none !important;
  transition-duration: .3s;
  padding: .5em;
  margin-left: -6em;
  margin-top: 1em;
  position: absolute;
  border-style: solid;
  border-color: transparent;
  visibility: visible;
  border-width: .2em; 
}

#login_but:hover, #signup_but:hover {
  border-style: solid;
  border-color: white;


  /*-webkit-animation:slideBorder 3s linear .3s 1 ;
  */animation: slideBorder 3s linear .3s 1;
}

#signup_but {
  font-size: 1.4em;
  font-family: 'Raleway', sans-serif;
  color: white;
  text-decoration: none !important;
  transition-duration: .3s;
  padding: .5em;
  margin-left: 3em;
  margin-top: 1em;
  position: absolute;
  border-style: solid;
  visibility: visible;
  border-color: transparent;
  border-width: .2em;
}

#ex1, #ex2 {
  color: white;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  /* position: relative; */
  margin-top: 0em;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-style: solid;
  transition-duration: .3s;
  padding-left: .3em;
  padding-right: .3em;
  padding-top: .05em;
  padding-bottom: .05em;
  float: right;
  position: relative;
  margin-right: 1em;
  margin-top: .3em;
}

#ex1:hover, #ex2:hover {
	-webkit-animation-name: spinnerRotate;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spinnerRotate;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spinnerRotate;
	-ms-animation-duration: 1s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	border-color: white;
	border-style: solid;
	border-radius: 50%;
	padding-left: .3em;
	padding-right: .3em;
	padding-top: .05em;
	padding-bottom: .05em;
}



#login_form, #signup {

  background-color: rgba(0, 0, 0, 0.9);
  transition-duration: 2s;
  size: c;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}


.mini_title {
	font-family: 'Raleway', sans-serif;
  color: white;
  margin-bottom: 1em;
}

.signup_button, .signin_button {
  visibility: hidden;

}

.new_user {
	margin-top: 10em;
}

#login_form form {
	margin-top: 10em;
}

.icon {
	-webkit-filter: invert(100%);
    filter: invert(100%);
}

#email_icon {
	height: 2em;
	width: 2.4em;
	float: left;
	position: absolute;
	margin-left: -3em;
}
#password_icon {
	height: 2.4em;
	width: 2.4em;
	float: left;
	position: absolute;
	margin-left: -3.1em;
	margin-top: -.3em;
}


#pass_check_icon {
	height: 2.4em;
	width: 2.4em;
	float: left;
	position: absolute;
	margin-left: -3.1em;
	margin-top: -.3em;	
}

#user_icon {
	height: 2.1em;
	width: 2.1em;
	float: left;
	position: absolute;
	margin-left: -3.1em;
	margin-top: -.3em;	
}

/*********USER SHOW**************/

#user_show {
	background-color: rgba(0, 0, 0, 0.9);
	width: 72em;
	height: 44em;
	margin-top: -8em;
	position: absolute;
	/*margin-left: 82em;*/
	transition-duration: 2s;
	left: 82em;
	padding-bottom: 12em;
	z-index: 1;
}

#off_left {
	position: fixed;
	top: 0;
	/* right: -21em; */
	bottom: 0;
	left: 0;
	/* overflow: hidden; */
	/* margin-left: 63em; */
	/* border-left: 11px solid white; */
	z-index: 100;
}

#ex3 {
	color: white;
	font-family: 'Raleway', sans-serif;
	position: absolute;
	margin-left: 33.4em;
	border-color: rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	border-style: solid;
	transition-duration: .3s;
	padding-left: .3em;
	padding-right: .3em;
	padding-top: .05em;
	padding-bottom: .05em;
	  margin-top: 4.4em;
  margin-left: 33em;
}

#ex3:hover {
	-webkit-animation-name: spinnerRotate;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spinnerRotate;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spinnerRotate;
	-ms-animation-duration: 1s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	border-color: white;
	border-style: solid;
	border-radius: 50%;
	padding-left: .3em;
	padding-right: .3em;
	padding-top: .05em;
	padding-bottom: .05em;
}

#user_prof {
	margin-left: 1em;
	width: 7em;
	height: 7em;
	margin-top: 4.4em;
	border-radius: 50%;
}

#area {
	margin-left: 9em;
  position: absolute;

  margin-top: -6em;
}

#user_name {
	margin-left: 2em;
}

.vid_img{
	margin-top: 2em;
}
/****************ALL SHOWS****************/

#past_sect {
  float: left;
  width: 70%;
  background-color: rgba(92, 90, 90, 0.23);
  padding-right: 2em;
  padding-bottom: 2em;
  margin-left: 11em;
  box-shadow: 5px 5px 5px #888888;
  bottom: 0;
  margin-top: -25em;
}

#past {
	margin-left: 5em;

}

.upcoming {
	float: right;
}

.spread {
	background-color: black;
	height: 10em;
	width: 15em;
	margin-top: 1em;
	margin-left: 1.46em;
	display: inline-block;
	-webkit-filter: blur(2px);
	  box-shadow: 5px 5px 5px #888888;
}

.one_vid {
	background-color: black;
	height: 25em;
	width: 40em;
	margin-top: 1em;
	margin-left: 9.5em;
	display: inline-block;
	-webkit-filter: blur(2px);
	  box-shadow: 5px 5px 5px #888888;


}

.straight {
	height: 5em;
	width: 5em;
	background-color: red;
	float: right;
}

#many {
	  height: 3em;
  width: 3em;
  float: right;
  margin-left: 12.5em;
  margin-top: -24.8em;
  position: absolute;
}

#a_name {
	color: gray;
}

#artist_content {
	background-color: rgb(237, 225, 197);
}

/*########### CONCERT SHOW ###############*/

.content {
	background-color: white;
}

#camera_concert {
	width: 2em;
	height: 2em;
	margin-left: 1em;
	margin-top: -2em;
	position: absolute;	
}

#concert_header {
	background-color: transparent;
	position: fixed;
	z-index: 100;
	width: 100%;
	margin-top: -.4em;
	padding-bottom: 1.2em;
	transition-duration: .8s;
}

#concert_header.stuck {
	background-color: rgba(255, 0, 0, 0.83);
}


.concert_menu {
	margin-left: 44em;
	margin-top: 1em;
}

.pillars_menu {
	margin-top: 4.6em;
	margin-right: -.05em;
	position: absolute;
	-webkit-filter: hue-rotate(0deg);
}

.pillars_menu.hue {
	-webkit-filter: hue-rotate(74deg);
}

#pillar1_menu {
	height: .7em;
	margin-top: -2.9em;
	margin-left: .9em;
	transition-duration: .5s;
}

#pillar1_menu:hover {
	margin-top: -3.3em;
}

#pillar2_menu {
	height: 1.2em;
	margin-left: 1.28em;
	margin-top: -3.4em;	
	transition-duration: .5s;
}

#pillar2_menu:hover {
	margin-top: -3.9em;
}

#pillar3_menu {
	height: 1.9em;
	margin-left: 1.75em;
	margin-top: -4.1em;	
	transition-duration: .5s;
}

#pillar3_menu:hover {
	margin-top: -4.6em;
}

#pillar2_2_menu {
	height: 1.2em;
	margin-left: 2.25em;
	margin-top: -3.4em;	
	transition-duration: .5s;
}

#pillar2_2_menu:hover {
	margin-top: -3.9em;
}

#pillar1_1_menu {
	height: .7em;
	margin-left: 2.8em;
	margin-top: -2.9em;	
	transition-duration: .5s;
}

#pillar1_1_menu:hover {
	margin-top: -3.3em;
}


#music {
	color: red;
	margin-top: 2em;
}

.concert_line {
  color: white;
  height: .3em;
  margin-top: .4em;
  text-decoration: none;
  transition-duration: .3s;
	margin-left: 30em;
}

.container {
	padding-bottom-bottom: 3em;
}

/************************USER PROF********************/


#edit_user {
	background: white;
	padding: 3em 4
	em 1em 1em;
	margin-top: -3em;
	box-shadow: 5px 10px 5px #888888;
	margin-top: 4em;

}

 #user_prof img {
 	margin-top: -2.8em;
 	  box-shadow: 5px 7px 5px #888888;
 	  position: absolute;
 }

#edit_user text {
	font-size: 10em;
}

#edit_user a {
	font-family: 'Raleway', sans-serif;

}

.follow_link {
	font-family: 'Raleway', sans-serif;
	position: absolute;
	margin-top: -2.5em;
	color: white !important;
	background: rgb(13, 250, 13);
	padding: .3em;
}

#user_name {
		font-family: 'Raleway', sans-serif;
	position: absolute;
	margin-left: 14.5em;
	margin-top: -1em;
	z-index: 100;
	color: gray;
}

.concert_ven {
	margin-top: 4.5em;
	position: absolute;
	font-size: .9em;
	margin-left: 1.4em;
  color: white !important;
  font-family: 'Raleway', sans-serif;
  text-shadow: 2px 2px 2px #888888;
  border-bottom-style: solid;
}

.concert_date {
  margin-top: 14.5em;
  position: absolute;
  font-size: .9em;
  margin-left: 5.4em;
  color: white !important;
  font-family: 'Raleway', sans-serif;
  text-shadow: 2px 2px 2px #888888;
}

/*################ARTIST SHOW****************/

.ven {
	  position: absolute;
  margin-left: 5em;
  margin-top: -4em;
  font-size: 4em;
  color: white;
  text-shadow:  1px 1px 1px #888888;
    font-family: 'Raleway', sans-serif;
    border-bottom-style: solid;
}

.ven2 {
	  position: absolute;
  margin-left: 2.2em;
  margin-top: -4em;
  font-size: 2em;
  color: white;
  text-shadow: 1px 1px 1px #888888;
  font-family: 'Raleway', sans-serif;
  border-bottom-style: solid;
}

.con_date {
	  position: absolute;
  margin-left: 11em;
  margin-top: -5.4em;
  font-size: 2em;
  color: white;
  text-shadow: 1px 1px 1px #888888;
  font-family: 'Raleway', sans-serif;
}

.con_date2 {
	  position: absolute;
  margin-left: 6em;
  margin-top: -5.1em !important;
  font-size: 1em;
  color: white;
  text-shadow: 1px 1px 1px #888888;
  font-family: 'Raleway', sans-serif;
}

#artist_header {
	background-color: rgba(255, 0, 0, 0.83);
	position: fixed;
	z-index: 100;
	width: 100%;
	margin-top: -.4em;
	padding-bottom: 1.2em;
	transition-duration: .8s;

}

.sort {
  margin-left: 1.4em;
  background: red;
  width: 18%;
  padding: .6em;
  font-family: 'Raleway', sans-serif;
  box-shadow: 3px 3px 3px #888888;
  }

/**************Dashboard*************/

#dash_user_prof {
	  width: 5em;
  height: 5em;
  border-radius: 50%;
  position: absolute;
  margin-top: 8em;
  margin-left: 2em;
}

#dash_area {
	position: absolute;
	margin-top: 8em;
	margin-left: 8em;
}

.edit_profile_link {
	margin-top: 6.6em;
	position: absolute;
	margin-left: 7.9em;
}

.dashboard_img {
	  width: 17em;
  margin-top: 11em;
  margin-left: 3em;
}


