/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .signin {
  display: none;

}

.signup {
  display: none;

}



#title {
	color: white;
	text-align: center;
	margin-top: 8em;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin-right: 1em;
}

#goer {
	font-family: 'Droid Sans Mono';
	color: white;
	text-align: center;
	margin-top: -2em;
	font-weight: bold;
	margin-left: 4.7em;
}

#search {
	width: 31em;
	height: 2.4em;
	font-family: 'Ubuntu', sans-serif;
	background-color: rgba(0, 0, 0, 0.05);
	border-left: transparent;
	border-right: transparent;
	border-top: transparent;
	border-bottom-color: white;
	color: white;
}

#menu {
  margin-left: 74em;
  position: absolute;
  margin-top: -19em;
}

ul {
	list-style-type: none; 
}

ul:hover {
	margin: lem 0;
}

.line {
	color: white;
	height: .3em;
	margin-top: .4em;
	text-decoration: none;
	transition-duration: .3s;
}

/*.line:hover {
	margin-top: -.4em;
}*/

#search_but {
	font-family: 'Ubuntu', sans-serif;
	width: 6em;
	height: 2.5em;
	margin-top: 1em;
	background-color: rgba(0, 0, 0, 0.1);
	border-color: white;
	border-style: solid;
	color: white;
	margin-left: 16.3em;
	margin-top: -2.4em;
	position: absolute;
}
::-webkit-input-placeholder {
   color: white !important;
   opacity: 1 !important;
}


#index_center {
	text-align: center;
}

video {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: url(white.png) no-repeat;
    background-size: cover;
}

#login_but {
	font-size: 1.4em;
	font-family: 'Ubuntu', sans-serif;
	color: white !important;
	text-decoration: none !important;
	transition-duration: .3s;
	padding: .5em;
	margin-left: -6em;
	margin-top: 1em;
	position: absolute;
}

#login_but:hover {
	border-style: solid;
	border-color: white;	
}

#signup_but {
	font-size: 1.4em;
	font-family: 'Ubuntu', sans-serif;
	color: white !important;
	text-decoration: none !important;
	transition-duration: .3s;
	padding: .5em;
	margin-left: 1em;
	margin-top: 1em;
	position: absolute;
}

#signup_but:hover {
	border-style: solid;
	border-color: white;
} 

#login_form {
	margin-left: 30em;
	margin-top: 4em;
	position: absolute;
}

#signup{
	margin-left: 9em;
	margin-top: 5em;
}

.mini_title {
	font-family: 'Ubuntu', sans-serif;
	color: white;
}

