.video-container {
    margin-left: 4.5em;
}

.like-btn {
    font-family: 'Raleway', sans-serif;
    padding: 5px 10px;
    width: 4.5em;
    background-color: white;
    color: black;
    border-color: black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    position: absolute;
    margin-top: -2.5em;
    margin-left: .4em;
    width: 4em;
    height: 2em;
    transition-duration: .4s;
}

.like-btn:hover, .button-link:focus {
    background: rgb(60, 50, 52);
    color: white;
    text-decoration: none;
}

.like-btn:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}

.concert-video {
    display: inline-block;
    vertical-align: baseline;
    border-top-width: 2.5em;
    border-color: white;
    border-style: solid;
    border-bottom-width: 2.5em;
    border-left: none;
    border-right: none;
    border-radius: 2%;
    margin-top: 2em;
}




.dislike-btn {
    font-family: 'Raleway', sans-serif;
    padding: 5px 10px;
    width: 4.5em;
    background-color: white;
    color: black;
    border-color: red;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    position: absolute;
    border: solid 1px #823430;
    position: absolute;
    margin-top: -2.4em;
    margin-left: 6.4em;
    width: 4em;
    height: 2em;
    transition-duration: .4s;
}

    .dislike-btn:hover, .button-link:focus {
        background: rgb(242, 82, 76);
        color: white;
        text-decoration: none;
    }

    .dislike-btn:active {
        -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
        background: #5d2522;
        border: solid 1px #203E5F;
    }


.upload-form-container {
    font-family: 'Raleway', sans-serif;

}


#attend-btn {
    font-family: 'Raleway', sans-serif;
    padding: 5px 10px;
    background: #79ba44;
    color: #FFF;
    border-radius: 4px;
    border: none;
    margin-left: 4.5em;
    margin-bottom: 1em;
}

#attend-btn:hover, .button-link:focus {
    background: #6da73d;
    text-decoration: none;
}

#attend-btn:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #619536;
    border: solid 1px #203E5F;
}

.dislike_num {
    margin-left: 11.4em;
    position: absolute;
    margin-top: -2em;
    color: rgb(242, 82, 76);
}

.like_num {
    position: absolute;
    margin-top: -2.1em;
    margin-left: 5.1em;
}

.rocky {
    width: 2em;
    height: 2em;
}



