
/*@-webkit-keyframes slideBorder {
	0% {border-bottom: 3px solid white}
	25% {border-bottom:3px solid white;border-left: 3px solid white}
	50% {border-bottom: 3px solid white;border-left: 3px solid white;border-top: 3px solid white}
	75% {border-bottom: 3px solid white;border-left: 3px solid white;border-top: 1px solid white;border-right: 1px solid white}
	100% {border:6pxpx solid white;}
  }*/

  @-webkit-keyframes spinnerRotate
  {
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
  }
  @-moz-keyframes spinnerRotate
  {
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
  }
  @-ms-keyframes spinnerRotate
  {
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
  }

  .signin {
   display: none;
 }

 .signup {
  display: none;
  /*background-color: rgba(0, 0, 0, 0.4);
  height: 20em;*/
}


#title {
	color: white;
	text-align: center;
	margin-top: 8em;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin-right: 1em;
}

#goer {
	font-family: 'Droid Sans Mono';
	color: white;
	text-align: center;
	margin-top: -2em;
	font-weight: bold;
	margin-left: 4.7em;
}

#search {
	width: 31em;
	height: 2.4em;
	font-family: 'Ubuntu', sans-serif;
	background-color: rgba(0, 0, 0, 0.05);
	border-left: transparent;
	border-right: transparent;
	border-top: transparent;
	border-bottom-color: white;
	color: white;
}

#menu {
  margin-left: 74em;
  position: absolute;
  margin-top: -19em;
}

ul {
	list-style-type: none;
}

ul:hover {
	margin: lem 0;
}

.line {
	color: white;
	height: .3em;
	margin-top: .4em;
	text-decoration: none;
	transition-duration: .3s;
}

/*.line:hover {
	margin-top: -.4em;
  }*/

  #search_but {
   font-family: 'Ubuntu', sans-serif;
   width: 6em;
   height: 2.5em;
   margin-top: 1em;
   background-color: rgba(0, 0, 0, 0.1);
   border-color: white;
   border-style: solid;
   color: white;
   margin-left: 16.3em;
   margin-top: -2.4em;
   position: absolute;
 }

 .sign_mit {
   font-family: 'Ubuntu', sans-serif;
   width: 6em;
   height: 2.5em;
   margin-top: 1em;
   background-color: rgba(0, 0, 0, 0.1);
   border-color: white;
   border-style: solid;
   color: white;
   margin-left: -3em;
   position: absolute;
 }

 ::-webkit-input-placeholder {
   color: white !important;
   opacity: 1 !important;
 }


 #index_center {
   text-align: center;
 }

 video {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url(white.png) no-repeat;
  background-size: cover;
}

#login_but {
	font-size: 1.4em;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	text-decoration: none !important;
	transition-duration: .3s;
	padding: .5em;
	margin-left: -6em;
	margin-top: 1em;
	position: absolute;
	border-style: solid;
	border-color: transparent;
	visibility: visible;
}

#login_but:hover, #signup_but:hover {
	border-style: solid;
	border-color: white;


	/*-webkit-animation:slideBorder 3s linear .3s 1 ;
	*/animation: slideBorder 3s linear .3s 1;
}

#signup_but {
	font-size: 1.4em;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	text-decoration: none !important;
	transition-duration: .3s;
	padding: .5em;
	margin-left: 31em;
	margin-top: 1em;
	position: absolute;
	border-style: solid;
	visibility: visible;
	border-color: transparent;
}

#ex1, #ex2 {
	color: white;
	font-family: 'Ubuntu', sans-serif;
	position: absolute;
	margin-left: 20em;
	margin-top: -6em;

}

#ex1:hover, #ex2:hover {
	-webkit-animation-name: spinnerRotate;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spinnerRotate;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spinnerRotate;
  -ms-animation-duration: 1s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}


#login_form, #signup {
/*	margin-left: 30em;
	margin-top: 4em;
	position: absolute;*/
	margin-left: -12px;
	margin-top: -32em;
	position: absolute;
	background-size: contain;
	padding-left: 48%;
	padding-right: 44%;
	padding-top: 28%;
	padding-bottom: 30%;
	background-color: rgba(0, 0, 0, 0.9);
	transition-duration: 2s;
}


.mini_title {
	font-family: 'Ubuntu', sans-serif;
	color: white;
}

.signup_button, .signin_button {
	visibility: hidden;

}



