.all_users_page a {
  color: red;
}
#comment_msg {
  display: none;
}

.the_new_form {
  display: none;
}

.dash_img {
  height: 150px;
  width: auto;
  position: absolute;
  margin-top: 8em !important;
  -webkit-filter: blur(1px);
}	